# .github/workflows/cd.yml
name: CD
# Run on main branch after CI workflow has completed on main.
on:
  workflow_run:
    workflows: ["CI"]
    branches: [main]
    types: [completed]
jobs:
  deploy:
    runs-on: ubuntu-latest
    # Only go ahead with the job if CI completed successfully (i.e. tests passed).
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      # Checkout project source
      - name: Checkout source
        uses: actions/checkout@v1
      # Install Node.js dependency
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: "20.16.0"
          cache: "npm"
      # Install package.json dependencies
      - name: Install
        run: npm install


      # Run the production build - this runs: gatsby build
      # which generates the "public" directory containing the entire site.
      - name: Build
        run: npm run build
      # Use a community action from the Actions Marketplace to deploy
      # the "public" directory generated by the build to Github Pages.
      - name: Deploy to Github Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public